# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Models
*.pth
*.pb

# Backup files
*~

# CMake default build/install directory
**/build/**
install/
.DS_Store

# Editor settings
.vscode/

# Text files
*.dat

# Temp binaries
**/main
**/run
**/fiocca

# Zip files
*.zip
*.tar*


